{% extends 'bases/container.twig' %}

{% block content %}

<main>
    <h1 class="mb-4">Editer le projet {{ project.id }}</h1>
    <form action="#" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Titre</label>
            <input class="form-control" type="text" name="title" id="title" value="{{project.title}}">
            {% if errors.title %}
                {{ errors.title }}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="category">Catégorie</label>
            <select name="category" id="category" class="js-cat-select form-control">
                <option value="default">Nouvelle catégorie</option>
                {% if categories is not empty %}
                    {% for _category in categories %}
                        <option value="{{ _category.id }}" {% if _category.id == project.category_id %} selected {% endif %}>{{ _category.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <input type="text" name="category_name" class="mt-2 form-control js-new-cat">
        </div>
        <div class="form-group">
            <label for="content">Contenu</label>
            <textarea class="tinymce" name="content" id="content" cols="30" rows="30">{{ project.content|raw }}</textarea>
            {% if errors.content %}
                {{ errors.content }}
            {% endif %}
        </div>
        <div class="form-group">
            <label for="link_online">Lien du projet en ligne</label>
            <input class="form-control" type="text" id="link_online" name="link_online" value="{{ project.link_online }}">
        </div>
        <div class="form-group">
            <label for="link_repo">Lien du repo</label>
            <input class="form-control" type="text" id="link_repo" name="link_repo" value="{{ project.link_repo }}">
        </div>
        <div class="form-group">
            <label for="thumbnail">Miniature</label>
            <img class="mb-3 img-fluid" src="{{ base_url() ~ '/' ~ project.thumbnail_url }}" alt="">
            <input type="file" id="thumbnail" name="thumbnail">
            {% if errors.file %}
                <p>{{ errors.file }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <input class="btn btn-warning" type="submit" value="Mettre à jour">
        </div>
    </form>
</main>

{% endblock content %}