{% include 'partials/header.twig' %}

<main>
    <div>
        <div>
            <h1>{{ name }}</h1>
            <h3>{{ function }}</h3>
            <p>{{ description }}</p>
            <a href="{{ path_for('projects') }}">Discover my work</a>
        </div>
        <div>
            <img src="{{ base_url() ~ '/assets/images/illu-home.svg' }}" alt="Developer programming - Illustration">
        </div>
    </div>
    {% if projects is not empty  %}
        <div>
            <h2>3 random projects</h2>
            <div>
                {% for _project in projects %}
                    <div>
                        <a href="{{ path_for('project', {slug: _project.slug}) }}">
                            <img src="{{ base_url() ~ '/' ~ _project.thumbnail_url }}" alt="">
                            <h4>{{ _project.title }}</h4>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div>
        <h2>Do you want to work together ?</h2>
        <a href="{{ path_for('contact') }}">Get in touch</a>
    </div>
</main>

{% include 'partials/footer.twig' %}